.register{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        display: flex;
        background-color: white;
        width: 60%;
        border-radius: 10px;
        min-height: 600px;
        max-height: 600px;
        overflow: hidden;

        
        .left{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;


                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button{
                    width: 50%;
                    padding: 10px;
                    border:none;
                    background-color:#938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .rigth{
            flex: 1;
            background:linear-gradient(rgba(39, 11, 96, 0.5),rgba(39, 11, 96, 0.5)), url("https://img.freepik.com/fotos-gratis/pessoas-felizes-dancando-com-garrafas-de-cerveja_74855-2290.jpg?t=st=1722001235~exp=1722004835~hmac=349da94df1097dd07c9eabac343185c0f48c67da791ed157c1c28afcc497c78d&w=740") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;


            h1{
                font-size: 100px;
                line-height: 90px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border:none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}