@import "../../styles.scss";

.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 45px;
    height: calc(100vh - 45px);
    overflow-y: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .conteiner {
      padding: 20px;

      hr {
        margin: 10px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          font-size: 10px;
          color: themed("textColorSoft");
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: 12px;
            color: themed("textColor");
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 25px;
          }

          span {
            font-size: 12px;
            color: themed("textColor");
          }
        }
      }
    }
  }
}
